name: Compile Rust
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup target add wasm32-unknown-unknown
      - run: cargo build --target wasm32-unknown-unknown --release
      - uses: actions/upload-artifact@v4
        with:
          name: r-wasm
          path: target/wasm32-unknown-unknown/release/*.wasm
