name: Compile Rust
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Force Create Project
        run: |
          # On crée le fichier de config au cas où
          echo '[package]' > Cargo.toml
          echo 'name = "r_lib"' >> Cargo.toml
          echo 'version = "0.1.0"' >> Cargo.toml
          echo 'edition = "2021"' >> Cargo.toml
          echo '[lib]' >> Cargo.toml
          echo 'crate-type = ["cdylib"]' >> Cargo.toml
          
          # On crée le dossier src et un code de test
          mkdir -p src
          echo '#[no_mangle] pub fn f1(a:f32, b:f32) -> f32 { a + b }' > src/lib.rs

      - name: Build
        run: |
          rustup target add wasm32-unknown-unknown
          cargo build --target wasm32-unknown-unknown --release

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: r-wasm
          path: target/wasm32-unknown-unknown/release/*.wasm
