    steps:
      - uses: actions/checkout@v4
      
      - name: Ou est le fichier ?
        run: |
          echo "--- Contenu de la racine ---"
          ls -R
          
      - name: Tentative de compilation
        run: |
          rustup target add wasm32-unknown-unknown
          # On cherche le Cargo.toml et on compile là où il se trouve
          find . -name "Cargo.toml" -execdir cargo build --target wasm32-unknown-unknown --release \;
